/*.client_main_container { background: #1A1A1A; }*/

/* ヘッダ */
.channel_header { background: #212121; }

/* チャンネルトピックの背景 */
#channel_topic_text, #channel_topic_text code {
    background: #212121;
}

/* ヘッダの検索フォーム */
.texty_legacy.texty_single_line_input .ql-editor {
    background: #212121;
}

/* ヘッダの検索フォオームの入力文字 */
.texty_legacy.texty_single_line_input .ql-editor {
    color: #ffffff;
}

/* ヘッダの検索フォームのプレースホルダの文字色 */
.ql-placeholder, .texty_legacy .ql-placeholder {
    color: #717274;
    opacity: 1.0;
}

/* サイドメニューの境界 */
.channel_header, #col_messages, #client_body:not(.onboarding):before {
    /*box-shadow: none;*/
    box-shadow: inset 1px 0 0 0 #1a1a1a;
}
/*.c-virtual_list__scroll_container {
    background: #212121;
}*/

/* ファイルリンクの色 */
.c-message__file .c-file_container, .c-message__image_container, .c-message__resend_controls {
    background: #c1c1c1;
}

/* ファイルリンクホバー時の色 */
.c-file_container:hover .c-file__slide {
    background: #c1c1c1;
}

/* 引用文の文字色 */
.c-message_attachment__text {
    color: #616161;
}

/* 引用文キャプションの文字色 */
.c-message_attachment__pretext {
    color: #919191;
}

/* 引用文タイトルの文字色 */
.c-message_attachment__title {
    color: #c1c1c1;
}

/* コンテンツホバー時のメニュー */
.c-message_actions__container, .c-message__actions {
    background: #111111;
}

/* コンテンツ上の日付 */
.c-message_list__day_divider__label__pill {
/*    background: #616161;*/
    background: #212121;
    color: #ffffff;
}

/* ヘッダとコンテンツの間のボーダー */
.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider:before, .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: #212121;
    box-shadow: 0 1px 0 #616161;
    /*box-shadow: inset 1px 0 0 0 #1a1a1a;*/
}

/* 日付変更線 */
.c-message_list__day_divider__line {
    border-top: 1px solid #616161;
}

/* 新規メッセージボーダー上のテキスト */
.c-message_list__unread_divider__label {
    background: #212121;
}

/* メッセージの背景 */
.c-message, .c-message--light {
    background: #212121;
}

/* メッセージのフォーカス時 */
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background: #313131;
}

/* メッセージ内のコード表示 */
pre.c-mrkdwn__pre, code.c-mrkdwn__code {
    background: #000000;
    color: #00ff00;
}

/* インラインコード */
code.c-mrkdwn__code {
    border-color: #111111;
}

/* 各コメントの投稿者名 */
.c-message--light .c-message__sender .c-message__sender_link {
    color: #ffffff;
}

/* 各コメントの色 */
.c-message__body {
    color: #ffffff;
}

/* メンションの背景 */
.c-member_slug, .c-member_slug--link, .c-member_slug--mention {
    background: #313131;
}
/*
.c-member_slug--mention, .c-member_slug--mention:hover {
    color: red;
}
*/

/* リアクションボタン（自分が押したやつ以外） */
.c-reaction:not(.c-reaction--reacted) {
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.3);
}

/* リアクションボタンホバー時 */
.c-reaction:focus, .c-reaction:hover {
    border-color: #2d9ee0;
    cursor: pointer;
}

/* リアクションボタンを追加するボタン */
.c-reaction_add {
    background: #111111;
    border-color: rgba(255, 255, 255, 0.3);
}


/* 最新コメントとフッターの間 */
.c-virtual_list__item {
    background: #212121;
}

/* フッター */
#footer_msgs { background: #212121; }