/*.client_main_container { background: #1A1A1A; }*/

/* ヘッダ */
.channel_header { background: #212121; }

/* チャンネルトピックの背景 */
#channel_topic_text, #channel_topic_text code {
    background: #212121;
}

/* ヘッダの検索フォーム */
.texty_legacy.texty_single_line_input .ql-editor {
    background: #212121;
}

/* ヘッダの検索フォオームの入力文字 */
.texty_legacy.texty_single_line_input .ql-editor {
    color: #ffffff;
}

/* ヘッダの検索フォームのプレースホルダの文字色 */
.ql-placeholder, .texty_legacy .ql-placeholder {
    color: #717274;
    opacity: 1.0;
}

/* ファイルリンクの色 */
.c-message__file .c-file_container, .c-message__image_container, .c-message__resend_controls {
    background: #c1c1c1;
}

/* ファイルリンクホバー時の色 */
.c-file_container:hover .c-file__slide {
    background: #c1c1c1;
}

/* コンテンツホバー時のメニュー */
.c-message_actions__container, .c-message__actions {
    background: #111111;
}

/*
.texty_legacy.texty_single_line_input:placeholder-shown .ql-editor:placeholder-shown {
    color: #616161;
}

::-webkit-input-placeholder { color: red; }
:-moz-placeholder { color: red; }
::-moz-placeholder { color: red; }
:-ms-input-placeholder { color: red; }
*/
/*
::-webkit-input-placeholder { color: red !important; -webkit-filter: none; filter: none; opacity: 0.5; }

::-moz-placeholder { color: red !important; filter: none; opacity: 0.5; }

::placeholder { color: red !important; filter: none; opacity: 0.5; }

[data-placeholder]:empty::before { color: red !important; }

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: red !important; -webkit-filter: none; filter: none; opacity: 0.5; }

input::-moz-placeholder, textarea::-moz-placeholder { color: red !important; filter: none; opacity: 0.5; }

input::placeholder, textarea::placeholder { color: red !important; filter: none; opacity: 0.5; }

input[data-placeholder]:empty::before, textarea[data-placeholder]:empty::before { color: red !important; }
*/

/* コンテンツ上の日付 */
.c-message_list__day_divider__label__pill {
    background: #616161;
    color: #ffffff;
}

/* ヘッダとコンテンツの間のボーダー */
.p-message_pane .c-message_list.c-virtual_list--scrollbar>.c-scrollbar__hider:before, .p-message_pane .c-message_list:not(.c-virtual_list--scrollbar):before {
    background: #212121;
    box-shadow: 0 1px 0 #616161;
}

/* 日付変更線 */
.c-message_list__day_divider__line {
    border-top: 1px solid #616161;
}

/* メッセージの背景 */
.c-message, .c-message--light {
    background: #212121;
}

/* メッセージのフォーカス時 */
.c-message--focus:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message--hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight), .c-message:hover:not(.c-message--highlight):not(.c-message--standalone):not(.c-message--pinned):not(.c-message--ephemeral):not(.c-message--custom_response):not(.c-message--starred):not(.c-message--sli_highlight) {
    background: #313131;
}

/* メッセージ内のコード表示 */
pre.c-mrkdwn__pre {
    background: #000000;
    color: #00ff00;
}

/* 各コメントの投稿者名 */
.c-message--light .c-message__sender .c-message__sender_link {
    color: #ffffff;
}

/* 各コメントの色 */
.c-message__body {
    color: #ffffff;
}

/* 最新コメントとフッターの間 */
.c-virtual_list__item {
    background: #212121;
}

/* フッター */
#footer { background: #212121; }